.sidebar {
  background-color: $color-secondary;
  border-right: 1px solid #cfcfcf;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 36.7rem;
  padding: 0 2rem;
  overflow-y: scroll;
  transition: all 0.3s;

  @media only screen and (max-width: $tab-land) {
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.164) 6px 0px 3.6px;
  }
  @media only screen and (max-width: $mbl-small) {
    width: 100%;
  }
  // transform: translateX(-100%);
  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
  }

  &__item {
    background-color: $color-secondary;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__item:hover,
  .active {
    background-color: $color-primary;
    color: $color-white;

    .icon {
      fill: $color-white;
    }
  }

  &__icon {
    .icon {
      @include icon-vector;
      transition: all 0.3s;
      fill: $color-primary;
    }
  }

  &__text {
    font-size: 2.1rem;
  }

  &__drop--btn {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    cursor: pointer;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
      fill: $color-primary;
    }
    .icon-arrow-down {
      transform: rotate(-90deg);
      transition: all 0.3s;
    }
    .arrow-down {
      transform: rotate(0);
    }
  }

  &__list--dropdown {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  &__list--active {
    height: 22rem;
  }
}

.toggle-btn {
  .close-toggle {
    position: fixed;
    top: 3rem;
    left: 2rem;
    z-index: 5;
    transition: all 0.3s;
    transform: scale(1);
  }
  .open-toggle {
    position: fixed;
    top: 3rem;
    left: 2rem;
    z-index: 5;
    transform: scale(0);
    transition: all 0.3s;
  }

  .icon {
    height: 2.3rem;
    width: 3rem;
    fill: $color-primary;
  }
}

.sidebar-active {
  .open-toggle {
    transform: scale(1);
  }
  .close-toggle {
    transform: scale(0);
  }
  .sidebar {
    transform: translateX(-100%);
    box-shadow: rgba(0, 0, 0, 0.164) 0 0 0;
  }
  .GarageBand-section {
    width: 100%;
  }
  .navbar {
    width: 100%;
  }
}
